* {
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--lowlight);
}

:root {
    --lowlight: #e5e5e5;
    --sidebarcolor: #0ea5e9;
    --sidebar-txtclr: white;
    --headercolor: white;
    --header-btn: #0284c7;
    --highlight: #fbbf24;
    --shadow: #a3a3a3;
    --mainfont: ;
    --mainfont-clr: ;
    --subfont: ;
    --subfont-clr: ;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr 1fr;
}
/* header grid layout */
.header {
    background-color: var(--headercolor);
    box-shadow: 5px 5px 5px var(--shadow);
    margin-bottom: 10px;
    grid-column: 2 / span 2;
    grid-row: 1 / 2;

    display: grid;
    gap: 15px;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.info-head {
    grid-column: 1 / 2;
    grid-row: 1 /2;
}

.user-tools {
    grid-column: 2 /3;
    grid-row: 2 / 3;
}

.user-greet {
    grid-row: 2/3;
}
/* sidebar grid layout */
.sidebar {
    color: var(--sidebar-txtclr);
    background-color: var(--sidebarcolor);
    grid-column: 1 / 2;
    grid-row: 1 / 4;

    display: grid;
    justify-content: space-around;
    gap: 15px;
}

.dashboard {
    font-size: 20px;
}

.nav{

}

.branding {

}

.nav-item,
.brand-item {

}

/* main content grid layout */

.main-content {
    background-color: var(--lowlight);
    grid-column: 2 / 3;
    grid-row: 2 / 4;

    display: grid;
    grid-template-columns: 2fr 1fr;
}

.card-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, min(200px, 50%));
    grid-template-rows: repeat(3, max(120px, 15%));
}

.right-sidebar {
    display: grid;
    grid-template-rows: 1fr 1fr;
}